.center {
  display: flex;
  justify-content: center;
}

.other {
  width: 70%;
}

.table {
  width: 100%;
}

.trash:hover {
  color: red;
}

.edit {
  color: darkgrey;
}

.edit:hover {
  color: black;
}
